hvac>=0.10.6
#hvac>=0.10.6,<0.10.9

# version pinned in st2 Mar 26
# works! (lowers urllib3 to 1.25.11)
#requests==2.23.0  # requires: urllib3>=1.21.1,<1.26,!=1.25.0,!=1.25.1
# The only thing in 2.24.0 that might impact this is:
# https://github.com/psf/requests/pull/5443
# Don't use pyOpenSSL unless no SNI is detected

# version pinned in hvac repo
# does not work (lowers urllib3 to 1.25.11)
#requests==2.24.0  # requires: urllib3>=1.21.1,<1.26,!=1.25.0,!=1.25.1

# version pinned in st2 Apr 2
# does not work (jumps to urllib3 1.26.5)
#requests==2.25.1  # requires: urllib3>=1.21.1,<1.27

# downgrading urllib3 made no difference
# version pinned in hvac repo
#urllib3==1.25.10
# version tested w/ on Mar 26
#urllib3==1.25.11
# version tested w/ on Apr 2
#urllib3==1.26.4
# version tested w/ more recently
#urllib3==1.26.5

